.contatos-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px 0px 0px 40px;
    background-color: #f8f8ff;
    width: 238px;
    height: 1531px;
}
.contatos-inner {
    position: absolute;
    top: 0px;
    left: 238px;
    background-color: #f0f0f0;
    width: 2px;
    height: 1518px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 985px;
    background-color: #f0f0f0;
    width: 5px;
    height: 175px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #369fff;
    width: 243px;
    height: 60px;
    opacity: 0.1;
}
.chevron-down-1-icon {
    position: absolute;
    top: 26px;
    left: 209px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.group-item {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.bruno-fernandes {
    position: absolute;
    top: 10px;
    left: 65px;
    font-weight: 600;
}
.incio {
    position: absolute;
    top: 34px;
    left: 65px;
    font-size: 12px;
    font-weight: 500;
    color: #369fff;
}
.rectangle-parent {
    position: absolute;
    top: 32px;
    left: 1157px;
    width: 243px;
    height: 60px;
    color: #303030;
}
.claritynotification-outline-b-icon {
    position: absolute;
    top: 49px;
    left: 1012px;
    width: 25px;
    height: 26px;
    overflow: hidden;
}
.contatos1 {
    position: absolute;
    top: 105px;
    left: 288px;
    font-size: 30px;
    color: #303030;
}
.span {
    font-weight: 500;
}
.ol-bruno-bem-container {
    position: absolute;
    top: 50px;
    left: 288px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #0c2454;
}
.pesquisar {
    position: absolute;
    top: 0px;
    left: 34px;
    font-weight: 500;
}
.search-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.pesquisar-parent {
    position: absolute;
    top: 213px;
    left: 731px;
    width: 110px;
    height: 20px;
    color: #bdbdbd;
}
.dashboard {
    position: absolute;
    top: 3px;
    left: 55px;
    font-weight: 600;
    cursor: pointer;
}
.chamados {
    position: absolute;
    top: 67px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.kanban {
    position: absolute;
    top: 131px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.respostas {
    margin: 0;
}
.respostas-rpidas {
    position: absolute;
    top: 195px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.tarefas {
    position: absolute;
    top: 259px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.iconlylight-outlinesetting {
    position: absolute;
    top: 257px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.group-inner {
    position: absolute;
    top: 321px;
    left: 137px;
    border-radius: 50%;
    background-color: #369fff;
    width: 8px;
    height: 8px;
}
.iconlylight-outlinehome {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinefolder {
    position: absolute;
    top: 128px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinechat {
    position: absolute;
    top: 193px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinecategory {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.dashboard-parent {
    position: absolute;
    top: 206px;
    left: 44px;
    width: 145px;
    height: 329px;
}
.contatos2 {
    position: absolute;
    top: 3px;
    left: 54px;
    font-weight: 500;
    color: #369fff;
}
.administrao {
    position: absolute;
    top: 323px;
    left: 54px;
    font-weight: 500;
    white-space: pre-wrap;
    cursor: pointer;
}
.chevron-down-1-icon1 {
    position: absolute;
    top: 330px;
    left: 162px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.tags-parent {
    position: absolute;
    top: 518px;
    left: 45px;
    width: 176px;
    height: 342px;
}
.chat-icon {
    position: absolute;
    height: 1.64%;
    width: 1.39%;
    top: 68.83%;
    right: 95.35%;
    bottom: 29.53%;
    left: 3.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.removalai-a4195dd2-18cb-4e23-icon {
    position: absolute;
    top: 38px;
    left: 30px;
    width: 188px;
    height: 57px;
    object-fit: cover;
}
.base {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #e2e2f2;
    width: 34.6px;
    height: 16.5px;
}
.switch {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8.19px;
    background-color: #343434;
    width: 16.4px;
    height: 16.5px;
}
.toggle-button {
    position: absolute;
    top: 1.23px;
    left: 42.4px;
    width: 34.6px;
    height: 16.5px;
}
.modo-dark {
    position: absolute;
    top: 1.98px;
    left: 82.47px;
}
.contrast-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17.7px;
    height: 17.7px;
}
.other-contents {
    position: absolute;
    top: 107px;
    left: 1264px;
    width: 136.5px;
    height: 17.7px;
    font-size: 10px;
    color: #343434;
    font-family: Poppins;
}
.user-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.nome {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.title {
    position: absolute;
    width: calc(100% - 34px);
    top: 16px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}
.separadorbottom {
    position: absolute;
    width: calc(100% + 1.3px);
    right: -0.65px;
    bottom: -0.65px;
    left: -0.65px;
    border-top: 1.3px solid #d5dbe1;
    box-sizing: border-box;
    height: 1.3px;
}
.header-user {
    width: 400px;
    position: relative;
    height: 50px;
    font-family: Manrope;
}
.header-funo {
    flex: 1;
    position: relative;
    height: 50px;
}
.header-actions-icon {
    width: 65px;
    position: relative;
    height: 50px;
}
.header {
    align-self: stretch;
    border-radius: 30px 30px 0px 0px;
    background-color: #f8f9fd;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
}
.avatar-icon {
    width: 60px;
    position: relative;
    border-radius: 1000px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.full-name {
    align-self: stretch;
    position: relative;
    font-weight: 600;
}
.emailexemplecom {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #696c71;
}
.nameemail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}
.avatarname {
    position: absolute;
    width: calc(100% - 34px);
    top: 17px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.user {
    width: 400px;
    position: relative;
    height: 94px;
}
.proprietario {
    flex: 1;
    position: relative;
    font-weight: 500;
}
.nome-funo {
    position: absolute;
    width: calc(100% - 34px);
    top: 38px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.funo {
    flex: 1;
    position: relative;
    height: 94px;
    font-size: 14px;
}
.ativo1 {
    position: relative;
    font-weight: 600;
}
.ativo {
    background-color: #0c2454;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 12px;
}
.statussection {
    position: absolute;
    width: calc(100% - 34px);
    top: 31px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.status {
    flex: 1;
    position: relative;
    height: 94px;
    font-size: 12px;
    color: #fbfbfb;
    font-family: Inter;
}
.group-child1 {
    position: absolute;
    height: 100%;
    width: 27.31%;
    top: 0%;
    right: 72.69%;
    bottom: 0%;
    left: 0%;
    background-color: #cfd6dc;
}
.group-child2 {
    position: absolute;
    height: 100%;
    width: 27.31%;
    top: 0%;
    right: 36.32%;
    bottom: 0%;
    left: 36.37%;
    background-color: #cfd6dc;
}
.group-child3 {
    position: absolute;
    height: 100%;
    width: 27.31%;
    top: 0%;
    right: -0.05%;
    bottom: 0%;
    left: 72.74%;
    background-color: #cfd6dc;
}
.rectangle-group {
    position: absolute;
    height: 22.67%;
    width: 83%;
    top: 37.74%;
    right: 7.57%;
    bottom: 39.6%;
    left: 9.43%;
}
.icon-actions {
    width: 30px;
    position: relative;
    height: 30px;
}
.action-section {
    position: absolute;
    width: calc(100% - 34px);
    top: 32px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.actions {
    width: 65px;
    position: relative;
    height: 94px;
}
.row {
    align-self: stretch;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Manrope;
}
.funo1 {
    flex: 1;
    position: relative;
    height: 94px;
    font-size: 14px;
    font-family: Manrope;
}
.status1 {
    flex: 1;
    position: relative;
    height: 94px;
    font-size: 12px;
    color: #fbfbfb;
}
.row1 {
    align-self: stretch;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.text3 {
    width: 163px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.b {
    width: 18px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.pagination-select {
    border-radius: 5px;
    border: 1px solid #d5dbe1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 27px;
    text-align: center;
}
.title3 {
    position: absolute;
    width: calc(100% - 34px);
    top: 9px;
    right: 17px;
    left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.div {
    position: relative;
    font-weight: 500;
}
.contador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.arrow-left-icon {
    width: 15px;
    position: relative;
    height: 15px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.control {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.contador-de-paginas {
    position: absolute;
    top: 8px;
    left: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 22px;
}
.paginao1 {
    width: 170px;
    position: relative;
    height: 50px;
    font-size: 14px;
}
.paginao {
    align-self: stretch;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 12px;
    color: #696c71;
}
.tabelatabelayesyesyesyes {
    position: absolute;
    top: 265px;
    left: 257px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 1167px;
    height: 891px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    color: #40464c;
    font-family: Inter;
}
.contatos-child1 {
    position: absolute;
    top: 202px;
    left: 716px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    width: 306px;
    height: 44px;
}
.contatos-child2 {
    position: absolute;
    top: 202px;
    left: 1032px;
    border-radius: 10px;
    background-color: #34d3a3;
    width: 182px;
    height: 41px;
    cursor: pointer;
}
.contatos-child3 {
    position: absolute;
    top: 202px;
    left: 1224px;
    border-radius: 10px;
    background-color: #34d3a3;
    width: 182px;
    height: 41px;
}
.adicionar {
    position: absolute;
    top: 212px;
    left: 1086px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 73px;
    height: 18px;
}
.importa-contato {
    position: absolute;
    top: 210px;
    left: 1256px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 127px;
    height: 18px;
}
.contatos {
    width: 100%;
    position: relative;
    background-color: #f8f8ff;
    height: 1219px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Manrope;
}

