.listagem-campanhas-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px 0px 0px 40px;
    background-color: #f8f8ff;
    width: 238px;
    height: 1024px;
}
.listagem-campanhas-item {
    position: absolute;
    top: 0px;
    left: 238px;
    background-color: #f0f0f0;
    width: 2px;
    height: 1518px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #369fff;
    width: 243px;
    height: 60px;
    opacity: 0.1;
}
.chevron-down-1-icon {
    position: absolute;
    top: 26px;
    left: 209px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.group-item {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.bruno-fernandes {
    position: absolute;
    top: 10px;
    left: 65px;
    font-weight: 600;
}
.incio {
    position: absolute;
    top: 34px;
    left: 65px;
    font-size: 12px;
    font-weight: 500;
    color: #369fff;
}
.rectangle-parent {
    position: absolute;
    top: 32px;
    left: 1157px;
    width: 243px;
    height: 60px;
}
.claritynotification-outline-b-icon {
    position: absolute;
    top: 49px;
    left: 1012px;
    width: 25px;
    height: 26px;
    overflow: hidden;
}
.informativos {
    position: absolute;
    top: 105px;
    left: 288px;
    font-size: 30px;
}
.span {
    font-weight: 500;
}
.ol-bruno-bem-container {
    position: absolute;
    top: 50px;
    left: 288px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #0c2454;
}
.dashboard {
    position: absolute;
    top: 3px;
    left: 55px;
    font-weight: 600;
}
.chamados {
    position: absolute;
    top: 67px;
    left: 55px;
    font-weight: 500;
}
.kanban {
    position: absolute;
    top: 131px;
    left: 55px;
    font-weight: 500;
}
.respostas {
    margin: 0;
}
.respostas-rpidas {
    position: absolute;
    top: 195px;
    left: 55px;
    font-weight: 500;
}
.tarefas {
    position: absolute;
    top: 259px;
    left: 55px;
    font-weight: 500;
}
.iconlylight-outlinesetting {
    position: absolute;
    top: 257px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.group-inner {
    position: absolute;
    top: 814px;
    left: 154px;
    border-radius: 50%;
    background-color: #369fff;
    width: 8px;
    height: 8px;
}
.iconlylight-outlinehome {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinefolder {
    position: absolute;
    top: 128px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinechat {
    position: absolute;
    top: 193px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinecategory {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.dashboard-parent {
    position: absolute;
    top: 206px;
    left: 44px;
    width: 162px;
    height: 822px;
    color: #000;
}
.contatos {
    position: absolute;
    top: 3px;
    left: 54px;
    font-weight: 500;
}
.administrao {
    position: absolute;
    top: 323px;
    left: 54px;
    font-weight: 500;
    white-space: pre-wrap;
}
.chevron-down-1-icon1 {
    position: absolute;
    top: 330px;
    left: 162px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.tags-parent {
    position: absolute;
    top: 518px;
    left: 45px;
    width: 176px;
    height: 342px;
    color: #000;
}
.informativos1 {
    position: absolute;
    top: 67px;
    left: 55px;
    font-weight: 500;
    color: #369fff;
}
.iconlylight-outlinesetting3 {
    position: absolute;
    top: 319px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.vector-icon {
    position: absolute;
    height: 1.75%;
    width: 7.1%;
    top: 3.21%;
    right: 0%;
    bottom: 95.04%;
    left: 92.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.informativos-parent {
    position: absolute;
    top: 947px;
    left: 45px;
    width: 169px;
    height: 343px;
    color: #000;
}
.chat-icon {
    position: absolute;
    height: 1.31%;
    width: 1.39%;
    top: 55%;
    right: 95.35%;
    bottom: 43.7%;
    left: 3.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.removalai-a4195dd2-18cb-4e23-icon {
    position: absolute;
    top: 38px;
    left: 30px;
    width: 188px;
    height: 57px;
    object-fit: cover;
}
.listagem-campanhas-inner {
    position: absolute;
    top: 907.5px;
    left: 0.5px;
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(21, 13, 13, 0.4);
    box-sizing: border-box;
    width: 240px;
    height: 1px;
}
.patients-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    width: 1143px;
    height: 751px;
}
.titulo {
    position: absolute;
    top: 194px;
    left: 283px;
    display: inline-block;
    width: 65px;
    height: 15px;
}
.all {
    position: absolute;
    top: 59.02px;
    left: 776.23px;
    font-size: 8px;
    display: inline-block;
    font-family: Poppins;
    color: #fff;
    width: 21.1px;
    height: 36.9px;
    text-shadow: 1px 0 0 #fbfaff, 0 1px 0 #fbfaff, -1px 0 0 #fbfaff, 0 -1px 0 #fbfaff;
}
.patients-item {
    position: absolute;
    top: 55px;
    left: 358.53px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    width: 310.8px;
    height: 44px;
}
.titulo1 {
    position: absolute;
    top: 194px;
    left: 94.46px;
    display: inline-block;
    width: 65px;
    height: 15px;
}
.status {
    position: absolute;
    top: 194px;
    left: 666.06px;
}
.aes {
    position: absolute;
    top: 197px;
    left: 908px;
    display: inline-block;
    width: 56.9px;
    height: 18px;
}
.patients-inner {
    position: absolute;
    top: 234px;
    left: 41.64px;
    border-radius: 10px;
    width: 1055.3px;
    height: 96px;
}
.rectangle-icon {
    position: absolute;
    top: 342px;
    left: 43.67px;
    border-radius: 10px;
    width: 1055.3px;
    height: 96px;
}
.rectangle-div {
    position: absolute;
    top: 271px;
    left: 73.13px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child1 {
    position: absolute;
    top: 376px;
    left: 73.13px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.novo-informativo {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
}
.novo-informativo-wrapper {
    position: absolute;
    top: 65px;
    left: 380.88px;
    width: 112px;
    height: 19px;
    color: #bdbdbd;
}
.patients-child2 {
    position: absolute;
    top: 55px;
    left: 704.87px;
    border-radius: 10px;
    background-color: #34d3a3;
    width: 184.9px;
    height: 41px;
}
.adicionar {
    position: absolute;
    top: 65px;
    left: 756.67px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 74.1px;
    height: 18px;
}
.vector-icon1 {
    position: absolute;
    top: 274px;
    left: 857.22px;
    width: 24.4px;
    height: 24px;
}
.lixeira-2-icon {
    position: absolute;
    top: 386px;
    left: 941.32px;
    width: 23.5px;
    height: 24px;
    object-fit: cover;
}
.lixeira-1-icon {
    position: absolute;
    top: 273px;
    left: 935.45px;
    width: 23.5px;
    height: 24px;
    object-fit: cover;
}
.vector-icon2 {
    position: absolute;
    top: 381px;
    left: 857.22px;
    width: 24.4px;
    height: 24px;
}
.titulo2 {
    position: absolute;
    top: 194px;
    left: 464px;
    display: inline-block;
    width: 65px;
    height: 15px;
}
.patients-child3 {
    position: absolute;
    top: 271px;
    left: 259px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child4 {
    position: absolute;
    top: 271px;
    left: 444px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child5 {
    position: absolute;
    top: 269px;
    left: 646px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child6 {
    position: absolute;
    top: 376px;
    left: 259px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child7 {
    position: absolute;
    top: 376px;
    left: 444px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients-child8 {
    position: absolute;
    top: 376px;
    left: 646px;
    border-radius: 8.26px;
    background-color: rgba(38, 50, 56, 0.24);
    width: 86.3px;
    height: 29px;
}
.patients {
    position: absolute;
    top: 188px;
    left: 288px;
    width: 1143px;
    height: 751px;
    color: #343434;
}
.listagem-campanhas-child1 {
    position: absolute;
    top: 0px;
    left: 1px;
    background-color: rgba(217, 217, 217, 0.6);
    width: 1439px;
    height: 1531px;
}
.listagem-campanhas-child2 {
    position: absolute;
    top: 416px;
    left: 381px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid rgba(231, 231, 231, 0.6);
    box-sizing: border-box;
    width: 797px;
    height: 619px;
}
.novo-informativo1 {
    position: absolute;
    top: 0px;
    left: 30.52px;
    font-size: 30px;
}
.line-div {
    position: absolute;
    top: 51.01px;
    left: -0.5px;
    border-top: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 798px;
    height: 1px;
}
.group-child1 {
    position: absolute;
    top: 520.1px;
    left: 2.32px;
    border-top: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 795.2px;
    height: 1px;
}
.group-child2 {
    position: absolute;
    top: 81.48px;
    left: 23.01px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 741px;
    height: 52px;
}
.group-child3 {
    position: absolute;
    top: 344.48px;
    left: 24.01px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 298.7px;
    height: 57.2px;
}
.group-child4 {
    position: absolute;
    top: 146.48px;
    left: 23.01px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 741px;
    height: 162px;
}
.status1 {
    position: absolute;
    top: 318.48px;
    left: 33.01px;
    font-size: 16px;
}
.prioridade {
    position: absolute;
    top: 402.48px;
    left: 33.01px;
    font-size: 16px;
}
.group-child5 {
    position: absolute;
    top: 539.18px;
    left: 572.46px;
    border-radius: 20px;
    background-color: #34d3a3;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 175.7px;
    height: 48.3px;
    cursor: pointer;
}
.group-child6 {
    position: absolute;
    top: 539.18px;
    left: 330.11px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 175.7px;
    height: 48.3px;
    cursor: pointer;
}
.atualizar {
    position: absolute;
    top: 549.91px;
    left: 615.67px;
    color: #000;
}
.cancelar {
    position: absolute;
    top: 549.91px;
    left: 376.13px;
}
.group-child7 {
    position: absolute;
    top: 425.48px;
    left: 27.01px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 298.7px;
    height: 57.2px;
}
.title {
    position: absolute;
    top: 92.82px;
    left: 38.52px;
    color: #a0a0a0;
    display: inline-block;
    width: 103.3px;
    height: 26.8px;
}
.text {
    position: absolute;
    top: 154.48px;
    left: 39.01px;
    color: #a0a0a0;
    display: inline-block;
    width: 103.3px;
    height: 26.8px;
}
.ativo {
    position: absolute;
    top: 362.48px;
    left: 42.01px;
    font-size: 16px;
}
.baixa {
    position: absolute;
    top: 442.48px;
    left: 42.01px;
    font-size: 16px;
}
.polygon-icon {
    position: absolute;
    top: 366.48px;
    left: 289.01px;
    width: 16px;
    height: 13.4px;
    object-fit: contain;
}
.group-child8 {
    position: absolute;
    top: 447.48px;
    left: 289.01px;
    width: 16px;
    height: 13.4px;
    object-fit: contain;
}
.group-child9 {
    position: absolute;
    top: 539.18px;
    left: 84px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 186.9px;
    height: 48.3px;
}
.anexar-arquivo {
    position: absolute;
    top: 549.91px;
    left: 107.48px;
    cursor: pointer;
}
.novo-informativo-parent {
    position: absolute;
    top: 430.52px;
    left: 380.99px;
    width: 797px;
    height: 587.5px;
    font-size: 20px;
}
.listagem-campanhas {
    width: 100%;
    position: relative;
    background-color: #f8f8ff;
    height: 1531px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #303030;
    font-family: Manrope;
}

