.listagem-campanhas-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px 0px 0px 40px;
    background-color: #f8f8ff;
    width: 238px;
    height: 1024px;
}
.listagem-campanhas-item {
    position: absolute;
    top: 0px;
    left: 238px;
    background-color: #f0f0f0;
    width: 2px;
    height: 1518px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #369fff;
    width: 243px;
    height: 60px;
    opacity: 0.1;
}
.chevron-down-1-icon {
    position: absolute;
    top: 26px;
    left: 209px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.group-item {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.bruno-fernandes {
    position: absolute;
    top: 10px;
    left: 65px;
    font-weight: 600;
}
.incio {
    position: absolute;
    top: 34px;
    left: 65px;
    font-size: 12px;
    font-weight: 500;
    color: #369fff;
}
.rectangle-parent {
    position: absolute;
    top: 32px;
    left: 1157px;
    width: 243px;
    height: 60px;
    color: #303030;
}
.claritynotification-outline-b-icon {
    position: absolute;
    top: 49px;
    left: 1012px;
    width: 25px;
    height: 26px;
    overflow: hidden;
}
.listagem {
    position: absolute;
    top: 105px;
    left: 288px;
    font-size: 30px;
    color: #303030;
}
.span {
    font-weight: 500;
}
.ol-bruno-bem-container {
    position: absolute;
    top: 50px;
    left: 288px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #0c2454;
}
.dashboard {
    position: absolute;
    top: 3px;
    left: 55px;
    font-weight: 600;
    cursor: pointer;
}
.chamados {
    position: absolute;
    top: 67px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.kanban {
    position: absolute;
    top: 131px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.respostas {
    margin: 0;
}
.respostas-rpidas {
    position: absolute;
    top: 195px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.tarefas {
    position: absolute;
    top: 259px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.iconlylight-outlinesetting {
    position: absolute;
    top: 257px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinehome {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinefolder {
    position: absolute;
    top: 128px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinechat {
    position: absolute;
    top: 193px;
    left: 1px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinecategory {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.dashboard-parent {
    position: absolute;
    top: 206px;
    left: 44px;
    width: 128px;
    height: 281px;
}
.contatos {
    position: absolute;
    top: 3px;
    left: 54px;
    font-weight: 500;
    cursor: pointer;
}
.administrao {
    position: absolute;
    top: 323px;
    left: 54px;
    font-weight: 500;
    white-space: pre-wrap;
    cursor: pointer;
}
.chevron-down-1-icon1 {
    position: absolute;
    top: 330px;
    left: 162px;
    width: 14px;
    height: 8px;
    overflow: hidden;
}
.tags-parent {
    position: absolute;
    top: 518px;
    left: 45px;
    width: 176px;
    height: 342px;
}
.chat-icon {
    position: absolute;
    height: 1.31%;
    width: 1.39%;
    top: 50.24%;
    right: 95.21%;
    bottom: 48.45%;
    left: 3.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.removalai-a4195dd2-18cb-4e23-icon {
    position: absolute;
    top: 38px;
    left: 30px;
    width: 188px;
    height: 57px;
    object-fit: cover;
}
.patients-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    width: 1143px;
    height: 751px;
}
.status {
    position: absolute;
    top: 195px;
    left: 161px;
    display: inline-block;
    width: 55.6px;
}
.all {
    position: absolute;
    top: 59.02px;
    left: 798.64px;
    font-size: 8px;
    display: inline-block;
    font-family: Poppins;
    color: #fff;
    width: 21.7px;
    height: 36.9px;
    text-shadow: 1px 0 0 #fbfaff, 0 1px 0 #fbfaff, -1px 0 0 #fbfaff, 0 -1px 0 #fbfaff;
}
.nome {
    position: absolute;
    top: 194px;
    left: 73.05px;
    display: inline-block;
    width: 42.2px;
}
.conexo {
    position: absolute;
    top: 195px;
    left: 448px;
    display: inline-block;
    width: 70px;
}
.aes {
    position: absolute;
    top: 194px;
    left: 998px;
    display: inline-block;
    width: 58.5px;
    height: 18px;
}
.patients-item {
    position: absolute;
    top: 234px;
    left: 42.85px;
    border-radius: 10px;
    width: 1085.7px;
    height: 96px;
}
.patients-inner {
    position: absolute;
    top: 75px;
    left: 892px;
    border-radius: 10px;
    background-color: #34d3a3;
    width: 190.2px;
    height: 41px;
    cursor: pointer;
}
.adicionar {
    position: absolute;
    top: 85px;
    left: 951px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 76.3px;
    height: 18px;
}
.vector-icon {
    position: absolute;
    top: 273px;
    left: 985px;
    width: 25.1px;
    height: 24px;
}
.lixeira-1-icon {
    position: absolute;
    top: 273px;
    left: 1032.42px;
    width: 24.2px;
    height: 24px;
    object-fit: cover;
}
.lista-de-contatos {
    position: absolute;
    top: 195px;
    left: 265px;
    display: inline-block;
    width: 142px;
}
.agendamento1 {
    position: absolute;
    top: 195px;
    left: 552px;
    display: inline-block;
    width: 109.1px;
}
.confirmao {
    position: absolute;
    top: 195px;
    left: 809px;
    display: inline-block;
    width: 106px;
}
.patients {
    position: absolute;
    top: 176px;
    left: 264px;
    width: 1143px;
    height: 751px;
    color: #343434;
}
.concluida {
    position: absolute;
    top: 371px;
    left: 959px;
    color: #343434;
}
.listagem-campanhas-inner {
    position: absolute;
    top: 248px;
    left: 827px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    width: 310.8px;
    height: 44px;
}
.pesquisa {
    position: absolute;
    top: 0px;
    left: 34px;
    font-weight: 500;
}
.search-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.pesquisa-parent {
    position: absolute;
    top: 260px;
    left: 841px;
    width: 94px;
    height: 20px;
    color: #bdbdbd;
}
.informativos {
    position: absolute;
    top: 100px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.campanhas {
    position: absolute;
    top: 0px;
    left: 55px;
    font-weight: 500;
}
.listagem1 {
    position: absolute;
    top: 26px;
    left: 69px;
    font-size: 12px;
    font-weight: 500;
    color: #369fff;
}
.lista-de-contatos1 {
    position: absolute;
    top: 49px;
    left: 69px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.configuraes {
    position: absolute;
    top: 72px;
    left: 69px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.open-ai {
    position: absolute;
    top: 156px;
    left: 56px;
    font-weight: 500;
    cursor: pointer;
}
.integraes {
    position: absolute;
    top: 221px;
    left: 56px;
    font-weight: 500;
    cursor: pointer;
}
.conexes {
    position: absolute;
    top: 286px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.lista-de-arquivo {
    position: absolute;
    top: 352px;
    left: 55px;
    font-weight: 500;
    white-space: pre-wrap;
    cursor: pointer;
}
.usurios {
    position: absolute;
    top: 482px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.filas-chatbot {
    position: absolute;
    top: 417px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.api {
    position: absolute;
    top: 547px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.configuraes1 {
    position: absolute;
    top: 613px;
    left: 55px;
    font-weight: 500;
    cursor: pointer;
}
.iconlylight-outlinesetting2 {
    position: absolute;
    top: 286px;
    left: 2px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinefolder2 {
    position: absolute;
    top: 154px;
    left: 2px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinechat2 {
    position: absolute;
    top: 221px;
    left: 2px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinecategory2 {
    position: absolute;
    top: 100px;
    left: 4px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.vector-icon1 {
    position: absolute;
    height: 1.09%;
    width: 7.19%;
    top: 1.27%;
    right: 4.19%;
    bottom: 97.64%;
    left: 88.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.chat-icon1 {
    position: absolute;
    height: 3.16%;
    width: 11.98%;
    top: 65.82%;
    right: 84.43%;
    bottom: 31.01%;
    left: 3.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.iconlylight-outlinefolder3 {
    position: absolute;
    top: 547px;
    left: 2px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinecategory3 {
    position: absolute;
    top: 480px;
    left: 4px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.setting-icon {
    position: absolute;
    height: 83.33%;
    width: 79.17%;
    top: 8.33%;
    right: 10.42%;
    bottom: 8.33%;
    left: 10.42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.iconlylight-outlinefolder4 {
    position: absolute;
    top: -255px;
    left: 0px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.iconlylight-outlinesetting3 {
    position: absolute;
    top: 608px;
    left: 2px;
    width: 24px;
    height: 24px;
}
.informativos-parent {
    position: absolute;
    top: 893px;
    left: 58px;
    width: 167px;
    height: 632px;
}
.listagem-campanhas {
    width: 100%;
    position: relative;
    background-color: #f8f8ff;
    height: 1674px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Manrope;
}

